.navbar {
    background-color: #f8f8f8;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      
      .right .item {
        margin-left: 20px;
      }
      
      .right .item a {
        color: #000000;
        text-decoration: none;
      
        &:hover {
          text-decoration: underline;
        }
      }
      
    }
  
  